.register-all{
    width: 700px;
    height: 640px;
    margin: 0 auto;
}
.register{
    width: 550px;
    height: 630px;
    border: 1px solid #eaeaea;
    margin-left: 20px;
    margin-top: 30px;
    padding-top: 30px;
    border-radius: 7px;
    background-color: #999;
    box-shadow: 0 0 7px 2px #999;
}
.register-1{
    width: 400px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    outline: none;
    color: #777;
    padding-left: 10px;
    margin-top: 10px;
}
h2{
    width: 190px;
    height: 40px;
    text-transform: capitalize;
    margin: 0 auto;
    border-radius: 3px;
    color: #fff;
}
.register-2{
    margin-top: 40px;
    margin-left: 210px;
    width: 120px;
    height: 45px;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    color: #777;
    transition: all 0.8s ease;
}
.register-2:hover{
    background-color: #666;
    color: #fff;
    box-shadow: 0px 0px 10px 2px #555;
}
.name-user{
    margin-left: 70px;
    color: #fff;
}
.Name-lable{
    margin-top: 10px;
}
.error{
    color: rgb(246, 27, 27);
}